body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.ti-main {
    display: flex;
    width: 100%;
    height: 100%;
}

.ti-sidebar {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex: auto;
    height: 100%;
    background-color: #888888;
}

.ti-sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.ti-sidebar-menu.top {
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.ti-sidebar-menu.bottom {
    justify-self: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
}

.ti-sidebar-button {
    flex: auto;
    width: 50px;
    height: 50px;
    background-color: #606060;
}

.ti-content {
    display: flex;
    flex: auto;
    width: 100%;
    height: 100%;
    background-color: #9c9c9c;
}

.ti-content.login {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.ti-error {
    color: #811010;
}